# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\esago\OneDrive\Ambiente de Trabalho\Files\UFP\4º Semestre\Linguagens de Programação II\Projeto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
